extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="Nosotros")
            .col-md-7
                h1 #{viaje.titulo}
                p 
                    i.far.fa-calendar-alt 
                    |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                p
                    i.fas.fa-dollar-sign
                    |  #{viaje.precio}
                p #{viaje.descripcion.substr(0,100)}...